:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2;
  --primary-color: rgb(16, 105, 98);
}

body {
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background: center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

button {
  margin: 20px;
  color: white;
  background-color: var(--primary-color);
  height: 40px;
  width: 8rem;
  border-radius: 25px;
  font-weight: bold;
  transition: ease-in-out .2s;
  font-size: 15px;
}

button:hover {
  color: white;
  background-color: black;
  box-shadow: 2px 2px 15px 2px var(--primary-color);
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  z-index: 10;
  opacity: 1;
}

.container {
  position: relative;
  width: 40rem;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  padding: 5px;
  text-align: center;
  margin-bottom: 2.5rem;
  padding: 1rem;
}

.data {
  color: white;
  font-weight: bold;
  background: transparent;
}

.tempmin {
  color: rgb(116, 116, 232);
}

.tempmax {
  color: red;
}

.description {
  font-size: 30px;
}

.min {
  color:rgb(93, 93, 236);
}

.max {
  color: red;
}

.min, .max {
  font-size: 22px;
  font-weight: bold;
}

.footer {
  text-align: center;
  color: white;
  font-size: 12px;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}


@media (max-width: 705px){
  .container {
    width: 90%;
    height: 100%;
    font-size: 1rem;
  }
  .app {
    min-height: 100vh;
    font-size: 1rem;
    padding-bottom: 2.5rem;
  }
}
